<%= form_for @workout do |f| %>

  <% if @workout.errors.any? %>
    <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :datetime %><br>
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <%= f.submit 'Create workout' %>
  </p>
<% end %>
