<% content_for :workout_counter do %>
  <%= javascript_include_tag 'pages/workout_counter' %>
<% end %>


<%= @workout.title %><br>
<%= @workout.created_at %><br>
<%= @workout.length %>

<h2>Exercises</h2>
<% @workout.exercises.each do |exercise| %>
  <p>
    <%= exercise.title %>
  </p>
  <p>
    <%= exercise.sets %>
  </p>
  <p>
    <%= exercise.reps %>
  </p>
<% end %>

<p>
  Add exercise:
</p>
<%= form_for([@workout, @workout.exercises.build]) do |f|  %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :sets %><br>
    <%= f.text_field :sets %>
  </p>
  <p>
    <%= f.label :reps %><br>
    <%= f.text_field :reps %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="js-workout-counter">
  <span class="js-workout-counter__time--text"></span>
  <span class="js-workout-counter__time">1</span>
  <span class="js-workout-counter__sets--text">Sets:</span>
  <span class="js-workout-counter__sets">0</span>
</div>

<%= link_to 'Edit', edit_workout_path %>
<%= link_to 'All workouts', workouts_path %>
