<% content_for :workout_counter do %>
  <%= javascript_include_tag 'pages/workout_counter' %>
<% end %>


<%= @workout.title %><br>
<%= @workout.created_at %><br>
<%= @workout.length %>

<div class="js-workout-counter">
  <span class="js-workout-counter__time--text"></span>
  <span class="js-workout-counter__time">1</span>
  <span class="js-workout-counter__sets--text">sets:</span>
  <span class="js-workout-counter__sets">0</span>
</div>

<%= link_to 'Edit', edit_workout_path %>
<%= link_to 'All workouts', workouts_path %>
